 #parent{
    display: flex;
    font-size: 25px;
}

#canvas{
    border: 2px solid black;
    background: #dddddd;
    width: 420px;
}

#form, #text, #spec{
    flex: 1;
    margin: 10px;
    padding: 10px;
}

#spec{
    margin: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #98dffb;
    min-width: 700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid black;
    font-size: 19px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
